<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analytics</key>
	<array>
		<dict>
			<key>agent</key>
			<string>GoogleAnalytics</string>
			<key>type</key>
			<string>Analytics</string>
			<key>url</key>
			<string>https://www.google.co.in</string>
			<key>flush_interval</key>
			<integer>0</integer>
			<key>post_to_url</key>
			<true/>
			<key>agent_enabled</key>
			<true/>
			<key>data_field</key>
			<array>
				<dict>
					<key>agentKey</key>
					<string>GA_Home Page</string>
					<key>app_specific_key</key>
					<string>homePage</string>
					<key>app_specific_class</key>
					<string>ViewController</string>
					<key>app_specific_method</key>
					<string></string>
					<key>key_type</key>
					<string>state</string>
					<key>param</key>
					<array>
						<dict>
							<key>param_agentKey</key>
							<string>screenName</string>
							<key>param_localkey</key>
							<string>screenName</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>agentKey</key>
					<string>GA_Home Page</string>
					<key>app_specific_key</key>
					<string>homePage</string>
					<key>app_specific_class</key>
					<string>ViewController</string>
					<key>app_specific_method</key>
					<string>simpleButtonClick:</string>
					<key>key_type</key>
					<string>action</string>
					<key>param</key>
					<array>
						<dict>
							<key>param_agentKey</key>
							<string>simpleButtonClickParam</string>
							<key>param_localkey</key>
							<string>simpleButtonClickParam</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>agentKey</key>
					<string>GA_Home Page</string>
					<key>app_specific_key</key>
					<string>customButtonClick</string>
					<key>app_specific_class</key>
					<string></string>
					<key>app_specific_method</key>
					<string></string>
					<key>key_type</key>
					<string>action</string>
					<key>param</key>
					<array>
						<dict>
							<key>param_agentKey</key>
							<string>customButtonClickParam</string>
							<key>param_localkey</key>
							<string>customButtonClickParam</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>agentKey</key>
					<string>GA_Home Page</string>
					<key>app_specific_key</key>
					<string></string>
					<key>app_specific_class</key>
					<string>ViewController2</string>
					<key>app_specific_method</key>
					<string></string>
					<key>key_type</key>
					<string>state</string>
					<key>param</key>
					<array>
						<dict>
							<key>param_localkey</key>
							<string>SecondScreen</string>
							<key>param_agentKey</key>
							<string>SecondScreen</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>agent</key>
			<string>FirebaseAnalytics</string>
			<key>type</key>
			<string>Analytics</string>
			<key>url</key>
			<string>https://www.firebase.com</string>
			<key>flush_interval</key>
			<integer>0</integer>
			<key>post_to_url</key>
			<true/>
			<key>agent_enabled</key>
			<true/>
			<key>data_field</key>
			<array>
				<dict>
					<key>agentKey</key>
					<string>FB_Home Page</string>
					<key>app_specific_key</key>
					<string>homePage</string>
					<key>app_specific_class</key>
					<string>ViewController</string>
					<key>app_specific_method</key>
					<string></string>
					<key>key_type</key>
					<string>state</string>
					<key>param</key>
					<array>
						<dict>
							<key>param_agentKey</key>
							<string>firebaseScreenName</string>
							<key>param_localkey</key>
							<string>firebaseScreenName</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>agentKey</key>
					<string>GA_Home Page</string>
					<key>app_specific_key</key>
					<string>homePage</string>
					<key>app_specific_class</key>
					<string>ViewController</string>
					<key>app_specific_method</key>
					<string>simpleButtonClick:</string>
					<key>key_type</key>
					<string>action</string>
					<key>param</key>
					<array>
						<dict>
							<key>param_agentKey</key>
							<string>firebaseSimpleButtonClickParam</string>
							<key>param_localkey</key>
							<string>firebaseSimpleButtonClickParam</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>agentKey</key>
					<string>GA_Home Page</string>
					<key>app_specific_key</key>
					<string>customButtonClick</string>
					<key>app_specific_class</key>
					<string></string>
					<key>app_specific_method</key>
					<string></string>
					<key>key_type</key>
					<string>action</string>
					<key>param</key>
					<array>
						<dict>
							<key>param_agentKey</key>
							<string>firebaseCustomButtonClickParam</string>
							<key>param_localkey</key>
							<string>firebaseCustomButtonClickParam</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
